.nav-primary > ul > li.active > a {
  border-left: 2px solid #e52e2a;
}

.quotes i spam {
	vertical-align: 3px;
}

.quotes .main i spam {
  vertical-align: 8px;
}

@media (min-width: 768px) {
 .navbar-brand {
    border: none;
    margin: 0 10px;
  }
}

