<header ng-if="items" class="panel-heading" ng-bind="category.title"></header>
<section class="panel-body" ng-if="items">
  <article class="media" ng-repeat-start="item in items|limitTo:limit">
    <div class="pull-left thumb-small">
      <span class="icon-stack">
        <i class="icon-circle text-success icon-stack-base"></i>
        <i class="icon-chevron-right icon-light"></i>
      </span>
    </div>
    <div class="media-body">
      <div class="pull-right media-mini text-center text-muted">
        <strong class="h4" ng-bind="item.pubdate * 1000 |date:'dd'"></strong><br>
        <small class="label bg-light" ng-bind="item.pubdate * 1000 |date:'MMM'"></small>
      </div>
      <a class="h5 text-muted" ng-href="#/items/{{item._id}}" ng-bind-html="item.title"></a>
    </div>
  </article>
  <div class="line pull-in" ng-repeat-end></div>
  <div class="text-small text-center"><a ng-href="#/{{category.type}}/{{category.id}}">Ver mais</a></div>
</section>
