<div class="row m-t">
	<breadcrumb title="{{category.title}}" link="#/{{category.type}}/{{category.id}}"></breadcrumb>
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading" ng-bind-html="item.title"></header>
			<div id="links">
				<a ng-repeat="image in item.images" href="{{thumbify(image.path)}}" title="{{image.title}}" data-gallery>
					<img ng-src="{{thumbify(image.path, '80x80_')}}" alt="{{image.title}}">
				</a>
			</div>
			<div class="panel-body text-small"> 
				<div ng-bind-html="item.description"></div>
				<div>
					<p ng-repeat="media in item.medias|filter:{type:'application/pdf'}">
					<a ng-href="{{media.url}}" target="_blank"><span class="btn btn-white btn-xs">Download</span> {{media.title}}</a>
					</p>
				</div>
			</div>
		</section> 
	</div> <!-- col -->
</div>
