<div class="row m-t">
	<breadcrumb title="{{category.title}}" link="#/{{category.type}}/{{category.id}}"></breadcrumb>
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading" ng-bind-html="item.title"></header>
			<div id="links" class="padder m-t">
				<a ng-repeat="image in item.images" href="{{thumbify(image.path)}}" title="{{image.title}}" data-gallery>
					<img ng-src="{{thumbify(image.path, '80x80_')}}" alt="{{image.title}}">
				</a>
			</div>
			<div class="panel-body text-small"> 
				<audio media-player="mediaPlayer" playlist="audioPlaylist"></audio>
				<div class="video-wrapper">
					<div class="video-container">
						<video media-player="videoMediaPlayer" playlist="videoPlaylist" width="540"></video>
					</div>
				</div>
				<div ng-repeat="video in socialVideoPlaylist" class="video-wrapper">
					<div class="video-container">
					<iframe width="800" height="450" ng-src="{{video.embedUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>
				<div ng-bind-html="item.description"></div>
				<div>
					<p ng-repeat="media in item.medias|filter:mediaFilter">
					<a ng-if="media.type == 'application/pdf'" ng-href="{{media.url}}" target="_blank">
						<span class="btn btn-white btn-xs"><i class="icon-file-alt"></i> download</span> {{media.title}}
					</a>
					<a ng-if="media.type == 'text/html'" ng-href="{{media.url}}" target="_blank" rel="external">
						<span class="btn btn-white btn-xs"><i class="icon-external-link"></i> {{'open'|translate}}</span> {{media.title}}
					</a>
					</p>
					<p ng-repeat="video in videoPlaylist">
					<a ng-click="videoMediaPlayer.playPause($index);">
						<span ng-show="videoMediaPlayer.playing && videoMediaPlayer.currentTrack-1 === $index" class="btn btn-white btn-xs">
							<i class="icon-pause"></i> pause
						</span>
						<span ng-show="!videoMediaPlayer.playing || videoMediaPlayer.currentTrack-1 !== $index" class="btn btn-white btn-xs">
							<i class="icon-play"></i> play
						</span>
						{{video.title}}
					</a>
					</p>
					<p ng-repeat="audio in audioPlaylist">
					<a ng-click="mediaPlayer.playPause($index)">
						<span ng-show="mediaPlayer.playing && mediaPlayer.currentTrack-1 === $index" class="btn btn-white btn-xs">
							<i class="icon-pause"></i> pause
						</span>
						<span ng-show="!mediaPlayer.playing || mediaPlayer.currentTrack-1 !== $index" class="btn btn-white btn-xs">
							<i class="icon-play"></i> play
						</span>
						{{audio.title}}
					</a>
					</p>
				</div>
			</div>
		</section> 
	</div> <!-- col -->
</div>
