<div class="row m-t">
  <div class="col-lg-12">
    <!-- .breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="#/"><i class="icon-home"></i>Início</a></li>
      <li class="active"><a ng-href="#/categories/{{category.id}}"><i class="icon-{{category.title|slugify}}"></i>{{category.title}}</a></li>
    </ul>
    <!-- / .breadcrumb -->
   </div>
    <div class="col-lg-12">
      <section class="panel">
      <header class="panel-heading" ng-bind-html="item.title"></header>
      <div class="panel-body text-small" ng-bind-html="item.description"></div>
    </section> 
  </div> <!-- col -->
</div>
