<div class="row quotes">
	<div class="col-xs-12 current">
		<section class="panel text-center m-b-mini">
			<div class="panel-body">
				<p class="h4">{{mainQuote.symbol}}</p>
				<div class="line m-l m-r"></div>
				<p class="h1">
					{{mainQuote.LastTradePriceOnly}}
					<i ng-class="(parseFloat(mainQuote.ChangeinPercent) < 0) ? 'icon-caret-down text-danger' : 'icon-caret-up text-success'"><spam class="text-small">{{parseFloat(mainQuote.ChangeinPercent)}}</spam></i>
				</p>
			</div>
		</section>
	</div>
	<div class="col-xs-12 today">
		<section class="panel m-b-mini text-center">
			<div class="panel-body">
				<p ng-repeat-start="quote in quotes" class="h4">
					{{quote.symbol}} {{quote.LastTradePriceOnly}}
					<spam class="h3">
					<i ng-class="(parseFloat(quote.ChangeinPercent) < 0) ? 'icon-caret-down text-danger' : 'icon-caret-up text-success'"><spam class="text-small">{{parseFloat(quote.ChangeinPercent)}}</spam></i></spam>
				</p>
				<div class="line m-l m-r" ng-repeat-end ng-if="!$last"></div>
			</div>
		</section>
	</div>
	<p class="clearfix col-lg-12 text-small m-b-large"
		style="text-align: right;">{{created_at|date:'medium'}} Fonte: Yahoo</P>
</div>