<div class="row quotes">
  <div class="col-xs-12">
    <section class="panel text-center m-b-mini main">
      <div class="panel-body">
				<p class="h4">{{title}}</p>
        <div class="line m-l m-r"></div>
        <p class="h1">
          {{tradePrice}}
          <i ng-class="(parseFloat(change) < 0) ? 'icon-caret-down text-danger' : 'icon-caret-up text-success'"><spam class="text-small">{{change}}</spam></i>
        </p>
      </div>
    </section>
  </div>
  <div class="col-xs-12">
    <section class="panel m-b-mini text-center">
      <div class="panel-body">
        <p class="h4">
          Máxima  {{high}}
        </p>
        <div class="line m-l m-r"></div>
        <p class="h4">
          Mínima  {{low}}
        </p>
        <div class="line m-l m-r"></div>
        <p class="h4">
          Volume {{volume}}
        </p>
      </div>
    </section>
  </div>
  <p class="clearfix col-lg-12 text-small m-b-large"
    style="text-align: right;" ng-bind="source"></p>
</div>
