<div class="row quotess">
  <div class="col-xs-12">
    <section class="panel text-center m-b-mini main">
      <div class="panel-body">
        <p class="h4">{{quotes.symbol}}</p>
        <div class="line m-l m-r"></div>
        <p class="h1">
          {{quotes.LastTradePriceOnly}}
          <i class="fa {{(parseFloat(change) < 0) ? 'fa-caret-down text-danger' : 'fa-caret-up text-success'}}">{{quotes.ChangeinPercent}}</i>
        </p>
      </div>
    </section>
  </div>
  <div class="col-xs-12">
    <section class="panel m-b-mini text-center">
      <div class="panel-body">
        <p class="h4">
          {{'High'|translate}}  {{quotes.DaysHigh}}
        </p>
        <div class="line m-l m-r"></div>
        <p class="h4">
          {{'Low'|translate}}  {{quotes.DaysLow}}
        </p>
        <div class="line m-l m-r"></div>
        <p class="h4">
          Volume {{quotes.Volume}}
        </p>
      </div>
    </section>
  </div>
  <p class="clearfix col-lg-12 text-small"
	style="text-align: right;">{{'delay 15´  Source:'|translate}} {{source}}</p>
</div>
