<section class="main padder">
	<div autoscroll="true">
		<breadcrumb title="{{vm.category.title}}" link="#/{{vm.category.type}}/{{vm.category.id}}"></breadcrumb>

		<div class="row">
			<div class="col-lg-12">
				<section class="panel">
					<header class="panel-heading" ng-bind-html="vm.item.title"></header>
					<div ng-if="vm.item.images.length" class="m-t text-center">
						<img ng-src="{{thumbify(vm.item.images[0].path, '314x220_')}}" alt="{{vm.item.images[0].title}}">
					</div>
					<div ng-if="vm.item.images.length > 1"  id="links" class="m-t text-center item-images">
						<a ng-repeat="image in vm.item.images" href="{{thumbify(vm.image.path)}}" title="{{vm.image.title}}" data-gallery>
							<img ng-src="{{thumbify(image.path, '80x80_')}}" alt="{{image.title}}">
						</a>
					</div>
					<div class="panel-body"> 
						<div ng-repeat="video in vm.socialVideoPlaylist" class="video-wrapper">
							<div class="video-container">
								<iframe  width="800" height="450" ng-src="{{video.url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</div>

						<audio id="audio" controls autoplay ng-if="vm.audio.length > 0">
							<source ng-src="{{getTrustedResourceUrl(vm.audio.url)}}" type="{{vm.audio.type}}"></source>
						</audio>
						<video id="video" controls autoplay ng-if="vm.video.length > 0">
							<source ng-src="{{getTrustedResourceUrl(vm.video.url)}}" type="{{vm.video.type}}" />
						</video>

						<div class="text-right" ng-if="vm.item.link">
							<a ng-click="shareFeed(vm.item)" ng-hide="vm.item.groups.length">
								<span class="btn btn-white">
									<i class="fa fa-share-alt"></i> {{"Share it" | translate}}
								</span>
							</a>
							<span class="btn btn-white" ng-show="vm.item.groups.length">
								<i class="fa fa-lock"></i> Conteúdo restrito
							</span>
						</div>
						<div ng-bind-html="vm.item.description" data-in-app-browser="_system" data-location="yes" data-gdoc="yes"></div>
						<div>
							<div ng-repeat="media in vm.item.medias|filter:mediaFilter">
								<download-file file="media"></download-file>
							</div>
						</div>
					</div>
				</section> 
			</div>
		</div>
	</div>
</section>
