<div class="row m-t">
	<breadcrumb title="{{category.title}}" link="#/{{category.type}}/{{category.id}}"></breadcrumb>
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading" ng-bind-html="item.title"></header>
      <div ng-if="item.images.length" class="padder m-t text-center">
        <img ng-src="{{thumbify(item.images[0].path, '314x220_')}}" alt="{{item.images[0].title}}">
      </div>
      <div ng-if="item.images.length > 1"  id="links" class="padder m-t text-center item-images">
				<a ng-repeat="image in item.images" href="{{thumbify(image.path)}}" title="{{image.title}}" data-gallery>
					<img ng-src="{{thumbify(image.path, '80x80_')}}" alt="{{image.title}}">
				</a>
			</div>
			<div class="panel-body text-small"> 
        <div ng-repeat="video in socialVideoPlaylist" class="video-wrapper">
          <div class="video-container">
            <iframe  width="800" height="450" src="{{video.url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
				<p>
					<audio id="audio" controls autoplay ng-if="audio.length > 0">
						<source ng-src="{{getTrustedResourceUrl(audio.url)}}" type="{{audio.type}}"></source>
					</audio>
					<video id="video" controls autoplay ng-if="video.length > 0">
						<source ng-src="{{getTrustedResourceUrl(video.url)}}" type="{{video.type}}" />
					</video>
				</p>
				<div class="row text-right" ng-if="item.link">
					<a ng-click="shareFeed(item)" ng-hide="item.groups.length">
						<span class="btn btn-white">
							<i class="fa fa-share-alt"></i> {{"Share it" | translate}}
						</span>
					</a>
					<span class="btn btn-white" ng-show="item.groups.length">
						<i class="fa fa-lock"></i> Conteúdo restrito
					</span>
				</div>
				<div ng-bind-html="item.description" data-in-app-browser="_system" data-location="yes" data-gdoc="yes"></div>
				<div>
					<div ng-repeat="media in item.medias|filter:mediaFilter">
            <download-file file="media"></download-file>
					</div>
				</div>
			</div>
		</section> 
	</div> <!-- col -->
</div>
